.hero {
  padding: 200px 0 113px 0;
  text-align: center;

  &-container {
    margin-right: 260px;
    margin-left: 260px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-family: $title-font;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.33;
    color: $accent-color;
    margin-bottom: 100px;
  }
  &__icon-mouse {
    margin-bottom: 190px;
  }
  &__connect-list {
    display: flex;
    justify-content: space-between;
  }

  &__connect-icon {
    margin-right: 15px;
  }
  &__connect-link {
    display: flex;
    align-items: center;
  }
}
