.logo {
  font-family: "Stick No Bills", sans-serif;

  font-size: 36px;
  line-height: 1.5;
  font-weight: 600;
  color: $main-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  &__text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.12em;
  }
}
