.title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.33;
  color: $accent-color;
  margin-bottom: 100px;
}
.background-img {
  background-image: url(../../image/photo/rectangle.jpg);
}
