// font-family: "Playfair Display", serif;
// font-family: "Raleway", sans-serif;
// font-family: "Roboto", sans-serif;
// font-family: "Stick No Bills", sans-serif;

$main-font: "Raleway", sans-serif;
$title-font: "Playfair Display", serif;
$footer-color: #2d343c;
$main-text-color: #fff;
$accent-color: #d4c17f;
$main-bg-color: #242b33;
$input-color: #bebebe31;
